<div class="posts">
  <md-content ng-repeat="post in $ctrl.posts"
    class="posts-callout">
    <a ui-sref="single({slug: post.slug, year: post.year, month: post.month})">
    <img ng-if="post.better_featured_image"
      ng-src="{{post.better_featured_image.media_details.sizes.medium.source_url ||
      post.better_featured_image.media_details.sizes.thumbnail.source_url}}"
      ng-attr-alt="{{post.better_featured_image.alt_text}}"
      class="posts-callout-thumbnail">
    </a>
    <div class="posts-callout-content">
      <h2 class="posts-callout-title">
        <a ui-sref="single({slug: post.slug, year: post.year, month: post.month})"
          ng-bind-html="post.title.rendered"></a>
      </h2>
      <small class="posts-callout-meta">published {{post.date | date: 'MMM d, yyyy'}}</small>
      <div ng-bind-html="post.excerpt.rendered"
        class="post-callout-excerpt"></div>
    </div>
  </md-content>
</div>

<div class="pagination">
  <span>
    <a ng-if="$ctrl.page > 1"
    ng-click="$ctrl.previousPage()" href>newer posts</a>
  </span>

  <span>
    <a ng-if="$ctrl.page < $ctrl.posts._paging.totalPages"
    ng-click="$ctrl.nextPage()" href>older posts</a>
  </span>
</div>
