<div class="single-post container ng-cloak">
  <h1 ng-bind-html="$ctrl.single.title.rendered" class="single-post-title"></h1>
  <div ng-bind-html="$ctrl.single.content.rendered" class="single-post-content clearfix">
</div>
<div class="meta ng-cloak">
  <p>Posted: <span>{{$ctrl.single.date | date: 'MMM d, yyyy'}}</span></p>
  <p>Updated: <span>{{$ctrl.single.modified | date: 'MMM d, yyyy'}}</span></p>
  <p ng-if="$ctrl.single.categories[0].slug !== 'uncategorized'">Categorized:
    <span ng-repeat="cat in $ctrl.single.categories">
    <a ui-sref="collection({taxonomy:'category', slug:cat.slug})" href>{{cat.name}}</a></span>
  </p>
  <p ng-if="$ctrl.single.tags[0].slug">Tagged:
    <span ng-repeat="tag in $ctrl.single.tags">
    <a ui-sref="collection({taxonomy:'tag', slug:tag.slug})" href>{{tag.name}}</a></span>
  </p>
</div>
