<div class="single-post container single-post-container ng-cloak">
  <h1 ng-bind-html="$ctrl.single.title.rendered" class="single-post-title"></h1>
  <div ng-bind-html="$ctrl.single.content.rendered" class="single-post-content clearfix"></div>
  <post-meta
    state="$ctrl.stateName"
    date="$ctrl.single.date"
    modified="$ctrl.single.modified"
    categories="$ctrl.single.categories"
    tags="$ctrl.single.tags">
  </post-meta>
</div>

<div class="container comments-container">
  <commentform></commentform>
</div>

<div class="container replies-container" ng-if="$ctrl.single._embedded.replies">
  <replies></replies>
</div>
