<div class="meta">
  <p><span ng-if="$ctrl.date">posted: <strong>{{$ctrl.date | date: 'MMM d, yyyy'}}</strong></span>
    <span ng-if="$ctrl.modified">updated: <strong>{{$ctrl.modified | date: 'MMM d, yyyy'}}</strong></span></p>
  <p ng-if="$ctrl.categories[0].slug && $ctrl.categories[0].slug !== 'uncategorized'">Categorized:
    <span ng-repeat="cat in $ctrl.categories">
    <a ui-sref="collection({taxonomy:'category', slug:cat.slug})" href>{{cat.name}}</a></span>
  </p>
  <p ng-if="$ctrl.tags[0]">Tagged:
    <span ng-repeat="tag in $ctrl.tags">
    <a ui-sref="collection({taxonomy:'tag', slug:tag.slug})" href>{{tag.name}}</a></span>
  </p>
</div>
