<form id="commentform"
  name="commentform"
  ng-submit="$ctrl.createComment(commentform.$valid)"
  class="comment-form" 
  novalidate>
  <h4>Leave a Reply</h4>
  <div class="comment-form-comment form-group"
    ng-class="{'has-error' : commentform.content.$invalid && $ctrl.submitted}">
    <label for="content">Comment</label><br>
    <textarea id="content"
      name="content"
      class="form-control"
      cols="45"
      rows="8"
      ng-minlength="10"
      ng-maxlength="700"
      aria-required="true"
      ng-required
      ng-model="$ctrl.comment.content"></textarea>
      <p class="help-block"
        ng-show="commentform.content.$invalid && $ctrl.submitted">You need to enter a comment.
        Minimum length is 10 characters</p>
  </div>
  <div class="comment-form-author form-group"
    ng-class="{'has-error' : commentform.author.$invali && $ctrl.submitted}">
    <label for="author">Author</label><br>
    <input id="author"
      class="form-control"
      type="text"
      name="author"
      aria-required="true"
      ng-minlength="4"
      ng-required
      ng-model="$ctrl.comment.author">
      <p class="help-block"
        ng-show="commentform.author.$invalid && $ctrl.submitted">Author name is required.
        Minimum length is 4 characters</p>
  </div>
  <div class="comment-form-email form-group"
    ng-class="{'has-error' : commentform.email.$invalid && $ctrl.submitted}">
    <label for="email">Email</label><br>
    <input id="email"
      class="form-control"
      type="email"
      name="email"
      aria-required="true"
      ng-required
      ng-model="$ctrl.comment.email">
      <p class="help-block">Your email will not be published</p>
      <p class="help-block"
        ng-show="commentform.email.$invalid && $ctrl.submitted">A valid email is required</p>
  </div>
  <div class="comment-form-submit form-group">
    <input id="submit"
      type="submit"
      class="submit btn btn-success"
      value="Post Comment">
  </div>
</form>
