<form action="" method="post" id="commentform">
  <h4>Leave a Reply</h4>
  <p>Logged in as Peter. Log out?</p>
  <p>
    <label for="comment">Comment: </label><br>
    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
  </p>
  <p class="form-submit">
    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
    <input type="hidden" name="comment_post_ID" value="1222" id="comment_post_ID">
    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
  </p>
  <input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment" value="fa8934f1f0">
  <script>
    (function() {
      if (window === window.parent) {
        document.getElementById('_wp_unfiltered_html_comment_disabled').name = '_wp_unfiltered_html_comment';
      }
    })();
  </script>
</form>
