html {
  font-family: Georgia, serif;
  font-size: 1.1em;
  line-height: 1.45;
}

body {
  font-weight: 400;
  display: flex;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $highlightColor;
  }
  &.md-button {
    color: #666;
    &.md-active {
      color: $linkColor;
    }
  }
}

h1 {
  font-family: 'Trocchi', serif;
  font-weight: normal;
  font-size: 44px;
  margin: .15em 0;
  a {
    text-decoration: none;
  }
}

h2 {
  font-family: 'Trocchi', serif;
  font-weight: normal;
  margin: 0 0 .45em;
  line-height: 1.2;
  a {
    text-decoration: none;
  }
}
p, ul, ol {
  max-width: 900px;
  &.hero {
    max-width: none;
  }
}

code {
  background-color: $codeColor;
  padding: 0 3px;
}

pre {
  background-color: $codeColor;
  padding: 1em;
  overflow-x: scroll;
  border-radius: 5px;
}
hr {
  border: none;
  border-bottom: 3px double #bbb;
}
li {
  margin-bottom: .5em;
}
