.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  > site-header {
    flex-shrink: 0;
  }
  > navbar {
    flex-shrink: 0;
  }
  > main {
    flex: 1 0 auto;
    margin: 24px 0;
  }
  > site-footer {
    flex-shrink: 0;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}

@media only screen and (max-width: 730px) {
  .site {
    &-header {
      background-image: none !important;
    }
  }
}
