.meta {
  padding-bottom: 1em;
  font-size: 90%;
  border-bottom: 3px double #bbb;
  p {
    margin: .5em 0;
  }
  span {
    font-weight: bold;
    &::after {
      content: ','
    }
    &:last-of-type:after {
      content: '.';
    }
    a {
      text-decoration: none;
    }
  }
}
