@import '../../node_modules/angular-material/angular-material.scss';

html {
  font-family: Georgia, serif;
  font-size: 1.1em;
}
$linkColor: firebrick;
$highlightColor: crimson;
body {
  font-weight: 400;
  display: flex;
}
a {
  color: $linkColor;
  &:hover {
    color: $highlightColor;
  }
  &.md-button {
    color: #666;
    &.md-active {
      color: $linkColor;
    }
  }
}

h1 {
  font-family: 'Trocchi', serif;
  font-weight: normal;
  font-size: 44px;
  margin: .15em 0;
  a {
    text-decoration: none;
  }
}

h2 {
  font-family: 'Trocchi', serif;
  font-weight: normal;
  a {
    text-decoration: none;
  }
}
code {
  background-color: oldlace;
  padding: 0 3px;
}
pre {
  background-color: oldlace;
  padding: 1em;
  overflow-x: scroll;
}
.site {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &-header {
    flex-shrink: 0;
    &-banner {
      &::after {
        content: '';
        display: table;
        clear: both;
      }
      h1 {
        float: left;
      }
      .vcard {
        text-align: right;
        float: right;
      }
    }
  }
  &-footer {
    flex-shrink: 0;
    margin-bottom: 24px;
  }
  &-content {
    flex: 1 0 auto;
    margin: 24px 0;
  }
  &.wrapper{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.md-nav{
  &-bar {
    border-color: #ddd;
  }
  &-item {
    background-color: white;
    margin-right: 8px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
md-nav-ink-bar {
  background-color: $linkColor;
  bottom: 1px;
}

.md-button._md-nav-button {
  margin: 0;
}
.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &-callout {
    flex: 0 1 32%;
    margin-bottom: 24px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    &-thumbnail {
      border-radius: 5px;
      max-width: 100%;
      height: auto;
    }
  }
}
.post-single {
  max-width: 900px;
}
.wp-caption {
  &-text {
    font-style: italic;
  }
}
.aligncenter {
  align-self: center;
  text-align: center;
}
.alignleft {
  float: left;
  margin: 0 20px 0 0;
}

@media only screen and (min-width: 660px) and (max-width: 1000px) {
  .posts {
    &-callout {
      flex-basis: 48%;
    }
  }
}
@media only screen and (max-width: 660px) {
  .posts {
    &-callout {
      flex-basis: 100%;
    }
  }
}
