@import '../../node_modules/angular-material/angular-material.scss';

$linkColor: firebrick;
$highlightColor: crimson;
$codeColor: #f5ede8;

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@import 'elements';
@import 'layout';
@import 'posts';
@import 'nav';
@import 'meta';
@import 'images';
